.m-0 {
  margin: 0rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.ml-0 {
  margin-left: 0rem;
}

.mr-0 {
  margin-right: 0rem;
}

.mx-0 {
  margin: 0rem auto;
}

.my-0 {
  margin: auto 0rem;
}

.p-0 {
  padding: 0rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.pl-0 {
  padding-left: 0rem;
}

.pr-0 {
  padding-right: 0rem;
}

.px-0 {
  padding: auto 0rem;
}

.py-0 {
  padding: 0rem auto;
}

.m-1 {
  margin: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mx-1 {
  margin: 0.25rem auto;
}

.my-1 {
  margin: auto 0.25rem;
}

.p-1 {
  padding: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.px-1 {
  padding: auto 0.25rem;
}

.py-1 {
  padding: 0.25rem auto;
}

.m-2 {
  margin: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mx-2 {
  margin: 0.5rem auto;
}

.my-2 {
  margin: auto 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.px-2 {
  padding: auto 0.5rem;
}

.py-2 {
  padding: 0.5rem auto;
}

.m-3 {
  margin: 0.75rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.mr-3, .header .container .navi_content .navi-inf .social i {
  margin-right: 0.75rem;
}

.mx-3 {
  margin: 0.75rem auto;
}

.my-3 {
  margin: auto 0.75rem;
}

.p-3 {
  padding: 0.75rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.px-3 {
  padding: auto 0.75rem;
}

.py-3 {
  padding: 0.75rem auto;
}

.m-4 {
  margin: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mx-4 {
  margin: 1rem auto;
}

.my-4 {
  margin: auto 1rem;
}

.p-4 {
  padding: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.px-4 {
  padding: auto 1rem;
}

.py-4 {
  padding: 1rem auto;
}

.m-5 {
  margin: 1.25rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mx-5 {
  margin: 1.25rem auto;
}

.my-5 {
  margin: auto 1.25rem;
}

.p-5 {
  padding: 1.25rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.px-5 {
  padding: auto 1.25rem;
}

.py-5 {
  padding: 1.25rem auto;
}

.m-6 {
  margin: 1.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mx-6 {
  margin: 1.5rem auto;
}

.my-6 {
  margin: auto 1.5rem;
}

.p-6 {
  padding: 1.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.px-6 {
  padding: auto 1.5rem;
}

.py-6 {
  padding: 1.5rem auto;
}

.m-7 {
  margin: 1.75rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.ml-7 {
  margin-left: 1.75rem;
}

.mr-7 {
  margin-right: 1.75rem;
}

.mx-7 {
  margin: 1.75rem auto;
}

.my-7 {
  margin: auto 1.75rem;
}

.p-7 {
  padding: 1.75rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pl-7 {
  padding-left: 1.75rem;
}

.pr-7 {
  padding-right: 1.75rem;
}

.px-7 {
  padding: auto 1.75rem;
}

.py-7 {
  padding: 1.75rem auto;
}

.m-8 {
  margin: 2rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-8, .header .container .navi_content .navi-inf {
  margin-left: 2rem;
}

.mr-8, .header .container .navi_content .menu {
  margin-right: 2rem;
}

.mx-8 {
  margin: 2rem auto;
}

.my-8 {
  margin: auto 2rem;
}

.p-8 {
  padding: 2rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pl-8 {
  padding-left: 2rem;
}

.pr-8 {
  padding-right: 2rem;
}

.px-8 {
  padding: auto 2rem;
}

.py-8 {
  padding: 2rem auto;
}

.m-9 {
  margin: 2.25rem;
}

.mt-9 {
  margin-top: 2.25rem;
}

.mb-9 {
  margin-bottom: 2.25rem;
}

.ml-9 {
  margin-left: 2.25rem;
}

.mr-9 {
  margin-right: 2.25rem;
}

.mx-9 {
  margin: 2.25rem auto;
}

.my-9 {
  margin: auto 2.25rem;
}

.p-9 {
  padding: 2.25rem;
}

.pt-9 {
  padding-top: 2.25rem;
}

.pb-9 {
  padding-bottom: 2.25rem;
}

.pl-9 {
  padding-left: 2.25rem;
}

.pr-9 {
  padding-right: 2.25rem;
}

.px-9 {
  padding: auto 2.25rem;
}

.py-9 {
  padding: 2.25rem auto;
}

.m-10 {
  margin: 2.5rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.ml-10 {
  margin-left: 2.5rem;
}

.mr-10 {
  margin-right: 2.5rem;
}

.mx-10 {
  margin: 2.5rem auto;
}

.my-10 {
  margin: auto 2.5rem;
}

.p-10 {
  padding: 2.5rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pl-10 {
  padding-left: 2.5rem;
}

.pr-10 {
  padding-right: 2.5rem;
}

.px-10 {
  padding: auto 2.5rem;
}

.py-10 {
  padding: 2.5rem auto;
}

.m-11 {
  margin: 2.75rem;
}

.mt-11 {
  margin-top: 2.75rem;
}

.mb-11 {
  margin-bottom: 2.75rem;
}

.ml-11 {
  margin-left: 2.75rem;
}

.mr-11 {
  margin-right: 2.75rem;
}

.mx-11 {
  margin: 2.75rem auto;
}

.my-11 {
  margin: auto 2.75rem;
}

.p-11 {
  padding: 2.75rem;
}

.pt-11 {
  padding-top: 2.75rem;
}

.pb-11 {
  padding-bottom: 2.75rem;
}

.pl-11 {
  padding-left: 2.75rem;
}

.pr-11 {
  padding-right: 2.75rem;
}

.px-11 {
  padding: auto 2.75rem;
}

.py-11 {
  padding: 2.75rem auto;
}

.m-12 {
  margin: 3rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.ml-12 {
  margin-left: 3rem;
}

.mr-12 {
  margin-right: 3rem;
}

.mx-12 {
  margin: 3rem auto;
}

.my-12 {
  margin: auto 3rem;
}

.p-12 {
  padding: 3rem;
}

.pt-12 {
  padding-top: 3rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pl-12 {
  padding-left: 3rem;
}

.pr-12 {
  padding-right: 3rem;
}

.px-12 {
  padding: auto 3rem;
}

.py-12 {
  padding: 3rem auto;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.btn-primary {
  padding: 10px 20px;
  border-color: #b61984;
  border-radius: 30px;
  margin: 0 10px;
  font-size: 20px;
  background-color: #b61984;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn-primary:focus, .btn-primary:hover {
  -webkit-box-shadow: 0 0 0 2rem #fff inset;
          box-shadow: 0 0 0 2rem #fff inset;
  color: #b61984;
}

body {
  background-image: url(/images/yellow_top_wave_01.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .container .logo img {
  width: 100px;
  height: auto;
}

.header .container .navi_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.header .container .navi_content .menu a {
  margin-left: 45px;
  text-decoration: none;
  color: #000;
  position: relative;
}

.header .container .navi_content .menu a:hover {
  color: #b61984;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.header .container .navi_content .menu a.active::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #b61984;
}

.header .container .navi_content .navi-inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .navi_content .navi-inf .social a {
  text-decoration: none;
  color: #000;
}

.header .container .navi_content .navi-inf .social a:hover {
  color: #b61984;
}

.carousel {
  background-image: url(/images/Violet_top_left_wave.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.carousel .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel .container .container-left h3 {
  color: #b61984;
  font-size: 25px;
  text-transform: uppercase;
}

.carousel .container .container-left p {
  width: 80%;
  color: #000;
  font-size: 70px;
}

.about {
  background-image: url(/images/Violet_top_left_wave.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.about .container .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.about .container .card .card_item {
  text-align: center;
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
  padding-bottom: 60px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.about .container .card .card_item:hover {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.about .container .card .card_item img {
  width: 100%;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.about .container .card .card_item img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.about .container .card .card_item h4 {
  color: #b61984;
  font-weight: bold;
  margin-top: 25px;
}

.about .container .card .card_item h3 {
  color: #000;
  font-size: 25px;
  font-weight: bold;
  padding: 10px 0 15px 0;
}

.about .container .card .card_item p {
  color: gray;
  font-size: 20px;
  line-height: 35px;
}

.course {
  background-image: url(/images/accent_bottom_wave_01.png);
  background-position: bottom;
  background-repeat: no-repeat;
}

.course .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

.course .container .imge {
  width: 50%;
  padding: 100px 0;
}

.course .container .imge img {
  width: 90%;
}

.course .container .content_right .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding-bottom: 60px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 30px;
  background-color: #fff;
}

.course .container .content_right .form h1 {
  color: #000;
  font-size: 50px;
  padding-top: 40px;
}

.course .container .content_right .form .name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.course .container .content_right .form .name-email .name {
  border: 1px solid gray;
  padding: 0 10px;
  border-radius: 30px;
  overflow: hidden;
}

.course .container .content_right .form .name-email .name input {
  border: none;
  outline: none;
  padding: 15px;
}

.course .container .content_right .form .name-email .email {
  border: 1px solid gray;
  padding: 0 10px;
  border-radius: 30px;
  overflow: hidden;
}

.course .container .content_right .form .name-email .email input {
  border: none;
  outline: none;
  padding: 15px;
}

.course .container .content_right .form .english {
  border: 1px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  overflow: hidden;
  padding: 15px 10px;
}

.course .container .content_right .form .english select {
  border: none;
  outline: none;
  width: 100%;
}

.course .container .content_right .form .message {
  border: 1px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 30px;
  overflow: hidden;
}

.course .container .content_right .form .message textarea {
  width: 100%;
  border: none;
  outline: none;
  margin-left: 5px;
  padding: 0px 35px 35px 10px;
}

.course .container .content_right .form .btn-send {
  width: 150px;
  padding: 20px 0;
  margin: 45px 0px;
}

.footer {
  background-image: url(/images/footer_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer .container {
  padding: 100px 0 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

.footer .container h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.footer .container .contact_us div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.footer .container .contact_us div i {
  margin-right: 20px;
}

.footer .container .contact_us .social a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
}

.footer .container .contact_us .social a:hover {
  color: #000;
}

.footer .container .quick_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .container .quick_links a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
}

.footer .container .about_f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .container .about_f a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
}

.footer .container .newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .container .newsletter input {
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 25px 50px;
  border-radius: 30px;
  outline: none;
  text-align: center;
  background-color: #b61984;
}

.footer .container .newsletter input::-webkit-input-placeholder {
  color: white;
}

.footer .container .newsletter input:-ms-input-placeholder {
  color: white;
}

.footer .container .newsletter input::-ms-input-placeholder {
  color: white;
}

.footer .container .newsletter input::placeholder {
  color: white;
}

.footer .container .newsletter input:focus {
  border: 1px solid white;
}

.footer .container .newsletter .sub {
  padding: 20px 50px;
  border-color: #b61984;
  border-radius: 30px;
  margin: 0 10px;
  font-size: 20px;
  background-color: #fff;
  color: black;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer .container .newsletter .sub:focus, .footer .container .newsletter .sub:hover {
  -webkit-box-shadow: 0 0 0 3rem #b61984 inset;
          box-shadow: 0 0 0 3rem #b61984 inset;
  color: #fff;
}
/*# sourceMappingURL=index.css.map */